


body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
nav{
    background-color: lightgrey
}

.nav-container{
   min-height: 50px;
   display: flex;
   align-items: center; 
   max-width: 1400px;
   margin: 0 auto;
   
}
.logo-container{
display: flex;
width: 50%;




}
.logo-container img{
    width: 50px;
    margin-right: 20px;
    
    
    
    
}
.logo-container p{
    font-size: 25px;
    width: 50px;
    

    
    
}
.G-section{
    color: #FF42A5;

}

.nav-items-container{

width: 50%;
display: flex;
justify-content: space-between;



}
.nav-items-container a{
    text-decoration: none;

    
}
.follow-btn{
    background-color: lightgreen;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner-container{
    margin: 5px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-color: aqua;

    
}
.banner-text{
width: 50%;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.banner-text h2{
    background-image: linear-gradient(to bottom, red, blue);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}
.sign-btn{
    
background-color: #FF42A5;
}
.go-btn{
    background-color: blue;
}

.online-game{
    text-align: center;
}
.funny-v{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.grid-container{
    display: grid;
    max-width: 1400px;
    margin: 5px auto;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);

}
.online-v{

    
}
.online-v img{
    width: 100%;
    display: block;
    margin: 0;
    gap: 5px;
}
.banner-continue{

    display: flex;
    min-width: 400px;
}
.banner-word{

width: 50%;

}
.p-i{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.free-w{
    font-size: 15px;
}

.baner-img{
    display: flex;
}
.baner-img img{
    width: 50%;
}
.nav-c{
    display: flex;
}
.logo-c{
    display: flex;
    text-align: center;
}
.game-story{
    text-decoration: none;
    gap: 5px;
    align-items: center;
    margin: 0 auto;
}
.game-story a{
    text-decoration: none;
    justify-content: space-between;
    text-align: end;
    gap: 5px;
}
@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .nav-items-container a{
        margin-top: px;
    }
.follow-btn{
    width: 100%;
}
.banner-container{
    flex-direction: column;
}
.grid-container{
    flex-direction: column;

}
.online-v img{
    width: 100%;
}
.grid-container{
    grid-template-columns: 1fr;
}

}
/* medium screen  */
@media screen and (min-width:577px){

}