


body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
nav{
    background-color: lightgrey
}

.nav-container{
   min-height: 50px;
   display: flex;
   align-items: center; 
   max-width: 1400px;
   margin: 0 auto;
   
}
.logo-container{
display: flex;
width: 50%;




}
.logo-container img{
    width: 50px;
    margin-right: 20px;
    height: 50px;
    
    
    
}
.logo-container p{
    font-size: 25px;
    width: 50px;
    height: 50px;
    

    
    
}
.G-section{
    color: #FF42A5;

}

.nav-items-container{

width: 50%;
display: flex;
justify-content: space-between;



}
.nav-items-container a{
    text-decoration: none;

    
}
.follow-btn{
    background-color: lightgreen;
    padding: 10px 20px;
    border-radius: 5px;
}
@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
    }
}